head{
    align-items: center;
    font-family: "Lucida Console", "Courier New", monospace;

}

body {
   background-color: #EDEFF1;
  }

form{
    background: #C9C9C9;
    border-radius: 5px;
    padding: 10px 25px;
    font-weight: 500;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    line-height: 12px;
    
}

label {
    text-align: left;
    line-height: 15px;
}

button {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    background: #1D3461;
    border: none;
}

input{
  border-radius: 5px;
}

